<!DOCTYPE html>
<html lang="en">
    <%- include('../layout/head.ejs', {pageTitle: 'Quản lý sách'}) %>
<body>
    <div class="container mb-5">
        <%- include('../layout/navbar.ejs') %>
        <div class="card mt-2">
            <div class="card-header d-flex align-items-center justify-content-between mb-4">
                <h1>Book List</h1>
                <a href="/admin/books/create" class="btn btn-primary">
                    <i class="fa-solid fa-circle-plus"></i> New
                </a>
            </div>
            
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th>ID</th>
                            <th>Book Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Publisher</th>
                            <th>Author</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(item => { %>
                            <tr>
                                <td><%= item.id %></td>
                                <td><%= item.book_name %></td>
                                <td>
                                    <img src="/uploads/<%= item.image %>" 
                                        alt="No Image" 
                                        class="img-thumbnail"
                                        style="width: 100px; height: 100px;" 
                                        data-bs-toggle="tooltip" 
                                    >
                                </td>
                                <td><%= (Number(item.price) || 0).toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' đ' %></td>
                                <td><%= item.publisher_name %></td>
                                <td><%= item.author_name %></td>
                                <td class="d-flex flex-column gap-2">
                                    <a href="/admin/books/<%= item.id %>/edit" class="btn btn-warning btn-sm">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                    <a href="/admin/books/<%= item.id %>/delete" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this book?');">
                                        <i class="fas fa-trash"></i> Delete
                                    </a>
                                    <a href="/admin/books/<%= item.id %>/detail" class="btn btn-info btn-sm">
                                        <i class="fas fa-info-circle"></i> Detail
                                    </a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <%- include('../layout/pagination.ejs') %>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
